[submodule "Spu/external/spdlog"]
	path = Spu/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Spu/external/GLFW"]
	path = Spu/external/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Spu/external/imgui"]
	path = Spu/external/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Spu/external/glm"]
	path = Spu/external/glm
	url = https://github.com/g-truc/glm
